body {
  width: 100%;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  font-family: Verdana;
}

/*----------------------------------*/

.header {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 1em grey;
}

        .logo-box {
          height: 100%;
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

                .logo {
                  height: 54%;
                  width: 65%;
                  background-image: url('images/nissan-logo-temp.png');
                  background-size: 100%;
                }

                .logo:hover {
                  cursor: pointer;
                }

        .header-info {
          height: 100%;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

                .header-info h2 {
                  font-size: 30px;
                  color: white;
                }

                .line {
                  height: 6px;
                  width: 60%;
                  background-color: rgb(197, 26, 71);
                  margin: 2% 0;
                }

                .header-info p {
                  font-size: 20px;
                  color: white;
                }

        .nav {
          position: absolute;
          margin-top: 220px;
          height: 30px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }

                .nav p {
                  font-size: 10px;
                  margin-right: 2.5%;
                  color: white;
                }

                .nav p:hover {
                  cursor: pointer;
                }

/*----------------------------------*/

.info-box {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

        .info {
          height: 80%;
          width: 47.5%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }

                .share-quiz {
                  height: 30%;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                }

                        .share {
                          height: 50%;
                          width: 24.5%;
                          box-shadow: 0 0 .2em grey;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }

                        .share img {
                          height: 60%;
                        }

                        #share-quiz-facebook {
                          background-color: rgb(59, 89, 152);
                        }

                        #share-quiz-facebook:hover {
                          background-color: rgb(26, 67, 132);
                        }

                        #share-quiz-twitter {
                          background-color: rgb(85, 172, 238);
                        }

                        #share-quiz-twitter:hover {
                          background-color: rgb(75, 155, 216);
                        }

                        #share-quiz-pinterest {
                          background-color: rgb(189, 8, 28);
                        }

                        #share-quiz-pinterest:hover {
                          background-color: rgb(165, 8, 26);
                        }

                        #share-quiz-email {
                          background-color: grey;
                        }

                        #share-quiz-email:hover {
                          background-color: rgb(120, 120, 120);
                        }

                        .share:hover {
                          cursor: pointer;
                        }

/*----------------------------------*/

.quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgrey;
}

        .question-box {
          height: 850px;
          width: 60%;
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        #q1 {
          margin-top: 0;
        }

        #q8 {
          margin-bottom: 100px;
        }

                .question {
                  height: 42.5%;
                  width: 80%;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  margin-bottom: 2.5%;
                  box-shadow: 0 0 .2em grey;
                  background-image: url('images/car.jpg');
                  background-size: 100%;
                  color: white;
                }

                        .question h2 {
                          margin: 5%;
                        }

                .answer-box {
                  height: 55%;
                  width: 82%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: flex-end;
                }

                        .answer {
                          height: 49.5%;
                          width: 33.2%;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-around;
                          align-items: center;
                        }

                        .answer:hover {
                          background-color: grey;
                          cursor: pointer;
                        }

                        .q1chosen {
                          background-color: grey;
                        }

                        .q2chosen {
                          background-color: grey;
                        }

                        .q3chosen {
                          background-color: grey;
                        }

                        .q4chosen {
                          background-color: grey;
                        }

                        .q5chosen {
                          background-color: grey;
                        }

                        .q6chosen {
                          background-color: grey;
                        }

                        .q7chosen {
                          background-color: grey;
                        }

                        .q8chosen {
                          background-color: grey;
                        }

                                .answer-info {
                                  height: 90%;
                                  width: 90%;
                                  background-color: #FAFAFA;
                                  box-sizing: border-box;
                                  border: 1px solid grey;
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: space-between;
                                  align-items: center;
                                  box-shadow: 0 0 .2em grey;
                                }

                                        .answer-info img {
                                          height: 75%;
                                          width: 90%;
                                          background-color: rgb(120, 120, 120);
                                          margin-top: 5%;
                                        }

                                        .answer-info p {
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          height: 15%;
                                          width: 78%;
                                          margin-bottom: 5%;
                                        }

                .result {
                  opacity: 0;
                  height: 0px;
                  width: 50%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: center;
                  box-sizing: border-box;
                  border: 1px solid grey;
                  margin-bottom: 100px;
                  transition: 0.5s;
                  position: fixed;
                  top: 15px;
                }

                .finished {
                  height: 650px;
                  opacity: 1;
                  background-color: white;
                }

                        .result-title {
                          height: 10%;
                          width: 90%;
                          display: flex;
                          flex-direction: row;
                          justify-content: flex-start;
                          align-items: flex-end;
                        }

                                .result-title p {
                                  margin-bottom: 1.5%;
                                }

                        .result-image {
                          height: 45%;
                          width: 90%;
                          box-sizing: border-box;
                          border: 1px solid grey;
                        }

                        .result-description {
                          height: 20%;
                          width: 90%;
                          display: flex;
                          flex-direction: column;
                          justify-content: flex-start;
                          align-items: flex-start;
                          padding-top: 10%;
                        }

                        .result-share {
                          height: 8%;
                          width: 90%;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          align-items: center;
                        }

                                .result-button {
                                  width: 32%;
                                  height: 60%;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  box-shadow: 0 0 .2em lightgrey;
                                }

                                        .result-button img {
                                          height: 60%;
                                        }

                                #share-results-facebook {
                                  background-color: rgb(59, 89, 152);
                                }

                                #share-results-facebook:hover {
                                  background-color: rgb(26, 67, 132);
                                }

                                #share-results-twitter {
                                  background-color: rgb(85, 172, 238);
                                }

                                #share-results-twitter:hover {
                                  background-color: rgb(75, 155, 216);
                                }

                                #take-again {
                                  background-color: grey;
                                  color: white;
                                }

                                        #take-again h3 {
                                          font-size: 15px;
                                        }

                                #take-again:hover {
                                  cursor: pointer;
                                  background-color: rgb(120, 120, 120);
                                }

/*----------------------------------*/

.footer {
  height: 200px;
  width: 100%;
  box-shadow: 0 0 1em grey;
  background-color: white;
}


