body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

@font-face {
  font-family: "Nissan Brand Bold";
  src: url('Nissan_Brand_Bold.otf') format("opentype");
}

@font-face {
  font-family: "Nissan Brand Regular";
  src: url('Nissan_Brand_Regular.otf') format("opentype");
}

@font-face {
  font-family: "Nissan Brand Light";
  src: url('Nissan_Brand_Light.otf') format("opentype");
}

h1 {
  margin: 0;
  font-family: "Nissan Brand Bold", Verdana;
}

h2, h3, h4 {
  margin: 0;
  font-family: "Nissan Brand Regular", Verdana;
}

p {
  margin: 0;
  font-family: "Nissan Brand Light", Verdana;
}

/*----------------------------------*/

.header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 .5em lightgrey;
  position: relative;
  z-index: 1;
}

        #quiz-pic {
          position: absolute;
          width: 50%;
          z-index: -1;
          top: 0;
          left: 0;
        }

        .logo-box {
          height: 170px;
          width: 135px;
          margin: 0 0 0 45px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background-color: rgb(195, 0, 47);
          box-shadow: 0 0 .5em lightgrey;
          text-align: center;
          padding: 5px 5px 0 5px;
        }

                .logo-box h2 {
                  color: white;
                  font-size: 13px;
                  line-height: 15px;
                  letter-spacing: 1.5px;
                }

                .logo {
                  height: 105px;
                  width: 105px;
                  background-image: url('images/nissan-logo-temp.png');
                  background-size: 100%;
                  background-repeat: no-repeat;
                  margin-top: 20px;
                }

                .logo:hover {
                  cursor: pointer;
                }

        .header-info {
          height: 100%;
          width: 500px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
        }

                .header-info img {
                  height: 17px;
                  margin-top: 55px;
                  margin-right: 45px;
                }

        .nav {
          position: absolute;
          margin-top: 170px;
          left: 0;
          height: 30px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          opacity: 0;
        }

                .nav p {
                  font-size: 10px;
                  margin-right: 2.5%;
                }

                .nav p:hover {
                  cursor: pointer;
                }

/*----------------------------------*/

.info-box {
  height: 375px;
  width: 100%;
  padding: 25px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

        .info {
          height: 85%;
          width: 600px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
        }

                .info h1 {
                  font-size: 35px;
                  line-height: 35px;
                }

                .info p {
                  font-size: 15px;
                  line-height: 30px;
                  margin-top: 20px;
                }

                .share-quiz {
                  height: 25%;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                }

                        .share {
                          height: 40%;
                          width: 24.5%;
                          box-shadow: 0 0 .2em lightgrey;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }

                        .share img {
                          height: 60%;
                        }

                        #share-quiz-facebook {
                          background-color: rgb(59, 89, 152);
                        }

                        #share-quiz-facebook:hover {
                          background-color: rgb(26, 67, 132);
                        }

                        #share-quiz-twitter {
                          background-color: rgb(85, 172, 238);
                        }

                        #share-quiz-twitter:hover {
                          background-color: rgb(75, 155, 216);
                        }

                        #share-quiz-pinterest {
                          background-color: rgb(189, 8, 28);
                        }

                        #share-quiz-pinterest:hover {
                          background-color: rgb(165, 8, 26);
                        }

                        #share-quiz-email {
                          background-color: rgb(160, 160, 160);
                        }

                        #share-quiz-email:hover {
                          background-color: rgb(120, 120, 120);
                        }

                        .share:hover {
                          cursor: pointer;
                        }

/*----------------------------------*/

.quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

        .question-box {
          height: 900px;
          width: 750px;
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        .last {
          margin-bottom: 50px;
        }

        .three-answer {
          height: 700px;
        }

                .three-answer .question {
                  height: 48.5%;
                }

                .three-answer .answer-box {
                  height: 38%;
                }

                .three-answer .answer {
                  height: 99%;
                }

        .after-three {
          margin-top: 50px;
        }

        #quiz-start {
          margin-top: 0;
        }

        #q1 {
          background-image: url('images/stock-test/q1.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q2 {
          background-image: url('images/stock-test/q2.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q3 {
          background-image: url('images/stock-test/q3.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q4 {
          background-image: url('images/stock-test/q4.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q5 {
          background-image: url('images/stock-test/q5.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q6 {
          background-image: url('images/stock-test/q6.jpg');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q7 {
          background-image: url('images/stock-test/q7.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #q8 {
          background-image: url('images/stock-test/q8.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }

                .question {
                  height: 37.5%;
                  width: 80%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  margin-bottom: 2.5%;
                  box-shadow: 0 0 .2em lightgrey;
                  color: white;
                  background-image: url('images/car.jpg');
                  background-size: 100%;
                  box-sizing: border-box;
                  border: 10px solid white;
                }

                        .question h2 {
                          padding: 5%;
                          font-size: 38px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          height: 60px;
                          width: 90%;
                          background-color: rgba(0, 0, 0, .6);
                        }

                .answer-box {
                  height: 60%;
                  width: 82%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: flex-end;
                }

                        .answer {
                          height: 49.5%;
                          width: 33.2%;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-around;
                          align-items: center;
                        }

                        .q1 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q2 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q3 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q4 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q5 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q6 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q7 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q8 .answer-info:hover {
                          background-color: lightgrey;
                          cursor: pointer;
                        }

                        .q1chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q2chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q3chosen .answer-info {

                          background-color: lightgrey;
                        }

                        .q4chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q5chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q6chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q7chosen .answer-info {
                          background-color: lightgrey;
                        }

                        .q8chosen .answer-info {
                          background-color: lightgrey;
                        }

                                .answer-info {
                                  height: 90%;
                                  width: 93.5%;
                                  background-color: #FAFAFA;
                                  box-sizing: border-box;
                                  border: 1px solid lightgrey;
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  box-shadow: 0 0 .2em lightgrey;
                                }

                                        .answer-info img {
                                          height: 55%;
                                          width: 90%;
                                          background-color: rgb(120, 120, 120);
                                        }

                                        .answer-info p {
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          text-align: center;
                                          height: 32%;
                                          width: 78%;
                                          margin: 5% 0 2.5% 0;
                                          font-size: 16px;
                                          font-family: "Nissan Brand Bold", Verdana;
                                        }

                                        #long-answer {
                                          font-size: 15px;
                                        }

                                        #quiz-bottom {
                                          margin-bottom: 100px;
                                        }

                .result {
                  opacity: 0;
                  height: 0px;
                  width: 600px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: center;
                  transition: 0.5s;
                  position: fixed;
                  top: 15px;
                  z-index: 2;
                  box-shadow: 0 0 .5em lightgrey;
                }

                .finished {
                  height: 650px;
                  opacity: 1;
                  background-color: #FAFAFA;
                }

                        .result-title {
                          height: 8%;
                          width: 95%;
                          display: flex;
                          flex-direction: row;
                          justify-content: flex-start;
                          align-items: flex-end;
                        }

                                .result-title p {
                                  margin-bottom: 1%;
                                }

                        .result-image {
                          height: 50%;
                          width: 95%;
                          box-shadow: 0 0 .2em lightgrey;
                        }

                        .leaf-image {
                          background-image: url('images/nissan-leaf.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .note-image {
                          background-image: url('images/nissan-note.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .gtr-image {
                          background-image: url('images/nissan-gtr.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .sofc-image {
                          background-image: url('images/nissan-sofc.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .xtrail-image {
                          background-image: url('images/nissan-xtrail.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .bladeglider-image {
                          background-image: url('images/nissan-bladeglider.jpg');
                          background-size: 100%;
                          background-repeat: no-repeat;
                        }

                        .result-description {
                          height: 20%;
                          width: 95%;
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: flex-start;
                        }

                                .result-description p {
                                  font-size: 14.5px;
                                }

                        .result-share {
                          height: 10%;
                          width: 95%;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          align-items: center;
                        }

                                .result-button {
                                  width: 32%;
                                  height: 60%;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  box-shadow: 0 0 .2em lightgrey;
                                }

                                        .result-button img {
                                          height: 60%;
                                        }

                                #share-results-facebook {
                                  background-color: rgb(59, 89, 152);
                                }

                                #share-results-facebook:hover {
                                  background-color: rgb(26, 67, 132);
                                }

                                #share-results-twitter {
                                  background-color: rgb(85, 172, 238);
                                }

                                #share-results-twitter:hover {
                                  background-color: rgb(75, 155, 216);
                                }

                                #take-again {
                                  background-color: lightgrey;
                                  color: white;
                                }

                                        #take-again h3 {
                                          font-size: 15px;
                                        }

                                #take-again:hover {
                                  cursor: pointer;
                                  background-color: rgb(120, 120, 120);
                                }

/*----------------------------------*/

.footer {
  width: 100%;
  box-shadow: 0 0 1em lightgrey;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

        .links {
          width: 60%;
          padding: 3% 0 5% 10%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
        }

                .links div {
                  margin-right: 5%;
                }

                .learn {
                  width: 20%;
                }

                .shop {
                  width: 23%;
                }

                .links h4 {
                  font-size: 13px;
                  color: #FAFAFA;
                  font-weight: lighter;
                  margin-bottom: 20px;
                }

                .links p {
                  font-size: 10px;
                  color: #FAFAFA;
                  font-weight: lighter;
                }

        .follow {
          height: 25px;
          width: 250px;
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 2.5% 0 0 10%;
        }

                .follow h3 {
                  font-size: 15px;
                  font-family: "Nissan Brand Light", Verdana;
                }

        .icon-box {
          width: 40%;
          height: 50px;
          padding: 1% 0 2.5% 10%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

                .icon {
                  margin-right: 15%;
                  height: 25px;
                }

                .icon:hover {
                  cursor: pointer;
                }





















@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

.question-box.three-answer {
  height: 1000px;
}

.after-three {
  margin-top: -50px;
}

.line {
  width: 80%;
}

.info {
  width: 95%;
}

.info-box {
  height: 800px;
}

.info h1 {
  font-size: 60px;
  line-height: 65px;
}

.info p {
  font-size: 35px;
  line-height: 50px;
}

.question-box {
  width: 100%;
}

.question {
  width: 95%;
}

.question-box {
  height: 1300px;
}

.answer-box {
  width: 97.5%;
}

.answer-info p {
  font-size: 25px;
}

#long-answer {
  font-size: 23px;
}

.finished {
  height: 1200px;
}

.result {
  width: 90%;
  left: 5%;
  top: 250px;
  justify-content: space-between;
}

.result-description {
  height: 30%;
}

.result h1 {
  font-size: 45px;
}

.result p {
  font-size: 27px;
}

.result-image {
  height: 40%;
}

#take-again h3 {
  font-size: 30px;
}

.icon {
  height: 40px;
}

.follow h3 {
  font-size: 20px;
  margin-bottom: 7%;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

.finished {
  height: 520px;
  width: 500px;
  left: 25%;
}

.result-description p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

.question-box.three-answer {
  height: 1000px;
}

.after-three {
  margin-top: -50px;
}

.line {
  width: 80%;
}

.info {
  width: 95%;
}

.info-box {
  height: 800px;
}

.info h1 {
  font-size: 60px;
  line-height: 65px;
}

.info p {
  font-size: 35px;
  line-height: 50px;
}

.question-box {
  width: 100%;
}

.question {
  width: 95%;
}

.question-box {
  height: 1300px;
}

.answer-box {
  width: 97.5%;
}

.answer-info p {
  font-size: 25px;
}

#long-answer {
  font-size: 23px;
}

.finished {
  height: 1200px;
}

.result {
  width: 90%;
  left: 5%;
  top: 250px;
  justify-content: space-between;
}

.result-description {
  height: 30%;
}

.result h1 {
  font-size: 45px;
}

.result p {
  font-size: 27px;
}

.result-image {
  height: 40%;
}

#take-again h3 {
  font-size: 30px;
}

.icon {
  height: 40px;
}

.follow h3 {
  font-size: 20px;
  margin-bottom: 7%;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

.finished {
  height: 520px;
  width: 500px;
  left: 25%;
}

.result-description p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

.question-box.three-answer {
  height: 1000px;
}

.after-three {
  margin-top: -50px;
}

.line {
  width: 80%;
}

.info {
  width: 95%;
}

.info-box {
  height: 800px;
}

.info h1 {
  font-size: 60px;
  line-height: 65px;
}

.info p {
  font-size: 35px;
  line-height: 50px;
}

.question-box {
  width: 100%;
}

.question {
  width: 95%;
}

.question-box {
  height: 1300px;
}

.answer-box {
  width: 97.5%;
}

.answer-info p {
  font-size: 25px;
}

#long-answer {
  font-size: 23px;
}

.finished {
  height: 1200px;
}

.result {
  width: 90%;
  left: 5%;
  top: 250px;
  justify-content: space-between;
}

.result-description {
  height: 30%;
}

.result h1 {
  font-size: 45px;
}

.result p {
  font-size: 27px;
}

.result-image {
  height: 40%;
}

#take-again h3 {
  font-size: 30px;
}

.icon {
  height: 40px;
}

.follow h3 {
  font-size: 20px;
  margin-bottom: 7%;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

.finished {
  height: 520px;
  width: 500px;
  left: 25%;
}

.result-description p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 900px)
and (max-device-width : 1025px)
and (orientation: landscape) {

.finished {
  height: 650px;
  margin-top: 5%;
  left: 25%;
}

}

@media only screen
and (min-device-width : 1300px)
and (max-device-width : 1400px)
and (orientation: landscape) {

.finished {
  height: 800px;
  margin-top: 7%;
  left: 25%;
}

}







@media only screen
and (min-device-width : 1800px)
and (max-device-width : 2200px) {

.question-box {
  height: 1200px;
  width: 1060px;
}

.info {
  width: 850px;
}

.info-box {
  height: 550px;
}

.info h1 {
  font-size: 45px;
  line-height: 45px;
}

.info p {
  font-size: 25px;
  line-height: 35px;
}

.answer-info p {
  font-size: 22px;
}

#long-answer {
  font-size: 23px;
}

#long-answer {
  font-size: 18px;
}

.finished {
  height: 1000px;
  width: 900px;
}

.finished h1 {
  font-size: 50px;
}

.finished p {
  font-size: 25px;
}

.finished h3 {
  font-size: 25px;
}

.icon {
  height: 35px;
}

}

@media only screen
and (min-device-width : 2200px)
and (max-device-width : 2600px) {

.question-box {
  height: 1600px;
  width: 1410px;
}

.info {
  width: 1130px;
}

.info-box {
  height: 475px;
}

.info h1 {
  font-size: 50px;
  line-height: 45px;
}

.info p {
  font-size: 30px;
  line-height: 35px;
}

.question h2 {
  font-size: 50px;
}

.answer-info p {
  font-size: 25px;
}

#long-answer {
  font-size: 23px;
}

.finished {
  height: 1300px;
  width: 1200px;
}

.finished h1 {
  font-size: 60px;
}

.finished p {
  font-size: 30px;
}

.finished h3 {
  font-size: 30px;
}

.icon {
  height: 40px;
}

}

@media only screen
and (min-device-width : 2600px)
and (max-device-width : 2800px) {

.question-box {
  height: 1800px;
  width: 1590px;
}

.quiz {
  padding-top: 100px;
}

.info-box {
  height: 450px;
}

.info {
  width: 1270px;
}

.info-box {
  height: 800px;
}

.info h1 {
  font-size: 75px;
  line-height: 65px;
}

.info p {
  font-size: 40px;
  line-height: 50px;
}

.question h2 {
  font-size: 70px;
}

.answer-info p {
  font-size: 30px;
}

#long-answer {
  font-size: 27px;
}

.finished {
  height: 1500px;
  width: 1400px;
}

.finished h1 {
  font-size: 70px;
}

.finished p {
  font-size: 35px;
}

.finished h3 {
  font-size: 35px;
}

.icon {
  height: 45px;
}

}

@media only screen
and (min-device-width : 2800px) {

.question-box {
  height: 2000px;
  width: 1765px;
}

.quiz {
  padding-top: 100px;
}

.info-box {
  height: 800px;
}

.info {
  width: 1410px;
}

.info h1 {
  font-size: 70px;
  line-height: 65px;
}

.info p {
  font-size: 45px;
  line-height: 50px;
}

.question h2 {
  font-size: 80px;
}

.answer-info p {
  font-size: 35px;
}

#long-answer {
  font-size: 32px;
}

.finished {
  height: 1600px;
  width: 1500px;
}

.finished h1 {
  font-size: 75px;
}

.finished p {
  font-size: 40px;
}

.finished h3 {
  font-size: 40px;
}

.icon {
  height: 50px;
}

}


